* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

/* ------------------NavBar------------------ */
nav {
    background-color: #464545;
    padding: 1rem;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
  }
  
  nav ul li {
    margin: 0;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
  
  nav ul li a:hover {
    background-color: #555;
  }

  /* ------------------LoginForm, SignupForm------------------ */
  form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    background-color: #74747486;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #464545;
  }
  
  button:disabled {
    background-color: #ccc;
  }
  
  p {
    color: rgb(0, 0, 0);
    font-size: 0.9em;
  }

  .toggle-form-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }